<br /><br />
<div class="container-fluid bg-dark">
    <div class="row">
        <div id="copyright-container">
            <br />
            <p>Copyright © 2017-2030 - SinaFrance</p>
            <br />
        </div>
    </div>
    <div class="container">
        <div class="col-md-4">
            <ul class="">
                <li class="liste-footer"><a href="#">Home</a></li>
                <li class="liste-footer"><a href="#">Jeux & Serveurs</a></li>
                <li class="liste-footer"><a href="#">Forum</a></li>
                <li class="liste-footer"><a href="#">WebTV</a></li>
                <li class="liste-footer"><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li class="liste-footer"></li>
                <li class="liste-footer"></li>
                <li class="liste-footer"></li>
                <li class="liste-footer"></li>
                <li class="liste-footer"></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li class="liste-footer"><a href="#">A propos</a></li>
                <li class="liste-footer"><a href="#">Nous rejoindre</a></li>
                <li class="liste-footer"><a href="#">Mentions legales</a></li>
                <li class="liste-footer"><a href="#"></a></li>
                <li class="liste-footer"><a href="#"></a></li>
            </ul>
        </div>
    </div>
    <br /><br />
</div>
